.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.box {
  width: 300px;
  border: 2px solid black;
  box-shadow: 0 4px 4px #555;
  border-radius: 3px;
}

.color-box {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input-box {
  height: 30px;
}