.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-weight: 600;
  color: #777;
}

.box {
  width: 300px;
  border: 2px solid #555;
  box-shadow: 0 4px 4px #ccc;
  border-radius: 5px;
}

.color-box {
  font-size: 24px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-shadow: 2px 2px #ccc;
}

.input-box {
  font-size: 16px;
  height: 30px;
  font-family: 'Trattatello';
}